[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
[submodule "themes/hugo-spectrum"]
	path = themes/hugo-spectrum
	url = https://github.com/adobe/hugo-spectrum.git
