html,body {
  font-size: 11pt;
}


/* Table of Contents */
.dd-item li{
	font-size 8pt;
}

.flex-col div {
	white-space: nowrap;
 }

.flex-col main, article, p {
	white-space: initial;
}


.sidenav {
	display: flex;
	flex-shrink: 1;
	order: 1;
	font-size: 0.75em;
	height: 80%;
	min-width: 25ch;
	max-width: 15%;
	position: fixed;
	overflow: auto;
	top: 10; /* Stay at the top */
	left: 0;
}

.main {
	display: flex;
	flex-grow: 2;
	order: 2;
}

.csvtable {
	width: 90%;
	flex-basis: 80%;
	flex-shrink: 1;
	border-collapse: collapse;
}
.csvtable th,
.csvtable td {
	word-wrap: initial;
	font-size: 0.75em;
	border: 1px solid ;
}


