{{- with .Get "class" -}} {{- $newclass := . -}}{{- end -}}
{{- with .Get "csv" -}} {{- $csv_name := . -}} 
{{- printf "<!-- filename is %s -->\n" $csv_name | safeHTML -}}
{{- $rows := resources.Get $csv_name | transform.Unmarshal -}}
{{- $r1 := first 1 $rows -}}
{{- $r2 := first 1 (after 1 $rows) -}}
{{- $data := newScratch -}}
{{- $typeIsBool := false -}}
{{- $typeIsNumber := false -}}

{{- $data.Set "htmlTable" "<!-- start of sp Table -->\n" -}}
{{- $data.Add "htmlTable" "  <div class=\"spectrum-Table spectrum-Table--sizeM\" role=\"grid\">\n" -}}
  {{- $data.Add "htmlTable" "    <div class=\"spectrum-Table-head\" style=\"display: flex\" role=\"row\">\n" -}}
  {{- range index $r1 0 -}}
		{{- printf "<!-- found column with content: %s -->\n" . | safeHTML -}}
		{{- $data.Add "htmlTable" "      <div class=\"spectrum-Table-headCell is-sortable is-sorted-desc\" style=\"flex: 1\" role=\"columnheader\" aria-sort=\"descending\" tabindex=\"0\">\n" -}}
			{{- $data.Add "htmlTable" (markdownify . ) -}} 
			{{- $data.Add "htmlTable" "\n        <svg class=\"spectrum-Icon spectrum-UIIcon-ArrowDown100 spectrum-Table-sortedIcon\" focusable=\"false\" aria-hidden=\"true\">\n" -}}
			{{- $data.Add "htmlTable" "          <use xlink:href=\"#spectrum-css-icon-Arrow100\" />\n" -}}
			{{- $data.Add "htmlTable" "        </svg>\n" -}}
		{{- $data.Add "htmlTable"  "      </div>\n" -}}
	{{ end }}
  {{- $data.Add "htmlTable" "    </div >\n" -}}
  {{- $data.Add "htmlTable" "    <div class=\"spectrum-Table-body\" style=\"height: 120px\" role=\"rowgroup\">\n" -}}
		{{- range after 1 $rows -}}
		  {{- $data.Add "htmlTable" "      <div class=\"spectrum-Table-row\" style=\"display: flex\" role=\"row\">\n" -}}
				{{- range $i, $c := . -}}
          {{- $data.Add "htmlTable" "        <div class=\"spectrum-Table-cell\" style=\"flex: 1\" role=\"gridcell\" tabindex=\"0\">\n" -}}
						{{- $data.Add "htmlTable" ( markdownify $c ) -}}
			    {{- $data.Add "htmlTable" "\n        </div>\n" -}}
				{{- end -}}
  		{{- $data.Add "htmlTable" "      </div>\n" -}}
		{{- end -}}
  {{- $data.Add "htmlTable" "    </div>\n" -}}
{{- $data.Add "htmlTable" "  </div>\n" -}}
{{- $data.Get "htmlTable" | safeHTML -}}
{{- else -}} 
	{{- errorf "missing value for param 'csv': %s" .Position -}}
{{- end -}}
